TOKEN=

# Bank (VietQR)
BANK_CODE=
BANK_ACCOUNT=
BANK_HOLDER=
QUEST_PRICE_PER_ITEM=
HYPESQUAD_PRICE=

# Channels
VIETQR_CHANNEL_ID=
LOG_WEBHOOK_URL=
QUEST_ORDER_LOG_CHANNEL_ID=
HYPESQUAD_ORDER_LOG_CHANNEL_ID=
ROBUX_ORDER_LOG_CHANNEL_ID=

# Optional
EXPRESS=false
WEBHOOK_BACKUP=
